Source: starfish
Section: games
Priority: optional
Maintainer: Adrian Bridgett <bridgett@debian.org>
Standards-Version: 3.1.1.0

Package: starfish
Architecture: any
Depends: ${shlibs:Depends}
Description: X wallpaper generator.
 Starfish generates colourful, tiled images for your background using random
 numbers fed through mathematical functions. It does not use source image
 files, so it can generate its images nearly forever without running out of
 material. 
