#!/usr/bin/make -f

# This script uses debhelper by Joey Hess
export DH_VERBOSE=1
export DH_COMPAT=4

DEB=debian/xstarfish

build:	build-stamp
build-stamp:
	dh_testdir
	$(MAKE) LOCAL_LDFLAGS=-g
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) -i clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep:	build install
binary-arch:	build install
#	dh_testversion 2
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdirs usr/bin
	# move files into $(DEB)
	cp starfish $(DEB)/usr/bin/xstarfish
	# dh_link src dest src dest...
	dh_installdocs README TODO
	dh_installmenu
	dh_installmanpages
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
